
      *{
     
        text-align: center;
     }
     
     fieldset {
        width:50%;
        margin:2em auto;
        background:lightgreen;
        border:2px solid blue;
        border-radius:5px;
        padding:20px;
        position:relative;
     }
     .container-fluid{
        background-color:lightskyblue;
        text-align:center;
        padding-bottom: 30px;
     }
     .container-fluid h2{
     font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
     }
     .container-fluid p{
        
     }
     img{
        align-items: center;
        
        height: 200px;
        width: 250px;
        border-radius: 20px;
     }
     fieldset {
         width:50%;
         margin:2em auto;
         background:lightgreen;
         border:2px solid blue;
         border-radius:5px;
         padding:20px;
         position:relative;
     }
     
     .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }  
      body {
        background-image: linear-gradient(#E1F5FE, #fff);
        background-repeat-y: no-repeat;
        overflow-x: hidden
      }
      
      .card {
        padding: 50px;
        background-color:lightskyblue;
        color: #fff
      }
      
      a {
        color: #fff
      }
      
      a:hover {
        color: #fff
      }
      
      .box {
        margin-bottom: 60px;
        margin-top: 20px
      }
      
      .form-control {
        border: none;
        margin-left: 0;
        background-color:lightskyblue;
        color: #fff
      }
      
      input {
        border-bottom: 1px solid #fff !important;
        border-radius: 0 !important
      }
      
      ::-webkit-input-placeholder {
        color: #E1F5FE !important
      }
      
      ::-moz-placeholder {
        color: #E1F5FE !important
      }
      
      :-ms-input-placeholder {
        color: #E1F5FE !important
      }
      
      :-moz-placeholder {
        color: #E1F5FE !important
      }
      
      .form-head {
        padding-left: 10px;
        padding-right: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 22px
      }
      
      .custom-control-label {
        font-size: 14px !important
      }
      
      .get-input {
        padding-left: 0
      }
      
      button {
        color:green !important;
        font-weight: bold !important;
        padding: 10px 20px 10px 20px !important;
        border-radius: 0 !important
      }
      
      button:hover {
        color:blue !important;
        background-color: #fff
      }